<a href="https://colab.research.google.com/github/orimejia/Proyecto-AI/blob/main/Proyecto_I_A_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
url = 'https://raw.githubusercontent.com/andresramirez31/ProyectoIA/main/RegularSeasonDetailedResults.csv'
a = pd.read_csv(url)
a.head()

,Season,Daynum,Wteam,Wscore,Lteam,Lscore,Wloc,Numot,Wfgm,Wfga,...,Lfga3,Lftm,Lfta,Lor,Ldr,Last,Lto,Lstl,Lblk,Lpf
0,2003,10,1104,68,1328,62,N,0,27,58,...,10,16,22,10,22,8,18,9,2,20
1,2003,10,1272,70,1393,63,N,0,26,62,...,24,9,20,20,25,7,12,8,6,16
2,2003,11,1266,73,1437,61,N,0,24,58,...,26,14,23,31,22,9,12,2,5,23
3,2003,11,1296,56,1457,50,N,0,18,38,...,22,8,15,17,20,9,19,4,3,23
4,2003,11,1400,77,1208,71,N,0,30,61,...,16,17,27,21,15,12,10,7,1,14

In [ ]:
b = a.copy()

In [ ]:
a[(a.Season==2013) & (a.Wteam==1104)]

,Season,Daynum,Wteam,Wscore,Lteam,Lscore,Wloc,Numot,Wfgm,Wfga,...,Lfga3,Lftm,Lfta,Lor,Ldr,Last,Lto,Lstl,Lblk,Lpf
49836,2013,4,1104,70,1355,67,H,0,25,52,...,21,9,12,8,19,8,13,3,2,14
50111,2013,10,1104,65,1333,62,N,0,26,58,...,10,15,21,10,28,14,20,4,1,16
50157,2013,11,1104,77,1437,55,N,0,25,44,...,16,20,26,6,21,6,14,5,1,25
50507,2013,18,1104,59,1149,46,H,0,23,57,...,21,5,8,15,22,7,17,6,1,11
50695,2013,22,1104,75,1249,47,H,0,30,64,...,7,4,7,14,19,6,20,5,5,15
51430,2013,44,1104,66,1403,62,A,0,23,45,...,18,15,21,14,14,15,14,8,2,18
51992,2013,61,1104,65,1324,45,H,0,25,48,...,10,11,16,14,19,7,13,8,1,16
52300,2013,68,1104,68,1397,65,H,0,23,54,...,15,8,16,16,24,7,16,2,3,18
52492,2013,72,1104,75,1280,43,A,0,31,58,...,18,6,8,8,15,6,21,7,5,8
52620,2013,75,1104,50,1401,49,H,0,18,41,...,11,7,10,5,22,6,15,3,3,17
52797,2013,78,1104,59,1246,55,H,0,21,57,...,9,6,11,13,31,9,13,3,10,19
53194,2013,87,1104,59,1116,56,H,0,19,46,...,19,11,14,14,15,9,15,8,6,23
53262,2013,89,1104,58,1435,54,A,0,19,50,...,15,8,12,6,25,10,17,3,8,12
53583,2013,96,1104,60,1261,57,H,0,19,54,...,15,11,14,9,27,11,12,3,0,23
53763,2013,99,1104,52,1208,45,A,0,19,49,...,22,8,14,11,30,10,11,6,4,15
53914,2013,103,1104,68,1376,58,H,0,22,47,...,17,7,13,10,24,9,20,6,0,22
54123,2013,107,1104,64,1280,56,H,0,20,51,...,20,10,15,11,22,7,23,9,1,19
54394,2013,113,1104,61,1120,43,H,0,22,56,...,15,11,14,8,23,11,15,6,5,19
54851,2013,124,1104,61,1208,58,H,0,20,48,...,17,11,17,14,20,11,16,8,4,15
55089,2013,130,1104,58,1397,48,N,0,19,46,...,23,7,14,17,20,9,10,4,3,17

In [ ]:
for i in range(int(len(b) * 0.05)):
    x = np.random.randint(len(b))
    b.loc[x, "Lftm"] = np.nan
    b.loc[x, "Ldr"] = np.nan
    b.loc[x, "Lfga3"] = np.nan

In [ ]:
a.Lftm.iloc[3] = 0

<ipython-input-8-e0be7e740f12>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  a.Lftm.iloc[3] = 0

In [ ]:
a["Lftm"][3] = 8

<ipython-input-9-2cf518d85fc2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  a["Lftm"][3] = 8

In [ ]:
mask = b["Lftm"]

In [ ]:
a.loc[mask,3]

KeyError: ignored

In [ ]:
mask[3]

8.0

In [ ]:
b[3, "Lftm"] = 'nan'

In [ ]:
b["Lftm"][3] = 7

<ipython-input-17-06f796cf412c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  b["Lftm"][3] = 7

In [ ]:
#b.loc[3, "Lftm"] = 6

In [ ]:
b

,Season,Daynum,Wteam,Wscore,Lteam,Lscore,Wloc,Numot,Wfgm,Wfga,...,Lfga3,Lftm,Lfta,Lor,Ldr,Last,Lto,Lstl,Lblk,Lpf
0,2003,10,1104,68,1328,62,N,0,27,58,...,10.0,16.0,22,10,22.0,8,18,9,2,20
1,2003,10,1272,70,1393,63,N,0,26,62,...,24.0,9.0,20,20,25.0,7,12,8,6,16
2,2003,11,1266,73,1437,61,N,0,24,58,...,26.0,14.0,23,31,22.0,9,12,2,5,23
3,2003,11,1296,56,1457,50,N,0,18,38,...,22.0,8.0,15,17,20.0,9,19,4,3,23
4,2003,11,1400,77,1208,71,N,0,30,61,...,16.0,17.0,27,21,15.0,12,10,7,1,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76631,2017,132,1276,71,1458,56,N,0,27,48,...,15.0,6.0,8,14,18.0,10,15,4,3,13
76632,2017,132,1343,71,1463,59,N,0,25,52,...,20.0,13.0,19,14,20.0,12,7,4,5,13
76633,2017,132,1348,70,1433,63,N,0,24,54,...,14.0,17.0,22,23,24.0,8,5,4,1,16
76634,2017,132,1374,71,1153,56,N,0,26,52,...,24.0,14.0,18,17,22.0,7,7,7,1,13
76635,2017,132,1407,59,1402,53,N,0,21,60,...,17.0,7.0,8,9,27.0,10,17,1,7,18

In [ ]:
b['Numot'] = pd.Categorical(b.Numot)

In [ ]:
b['Daynum'] = pd.Categorical(b.Daynum)

In [ ]:
k = b.isna().sum()

In [ ]:
k[k!=0]

Lfga3    3739
Lftm     3739
Ldr      3739
dtype: int64

In [ ]:
k

Season       0
Daynum       0
Wteam        0
Wscore       0
Lteam        0
Lscore       0
Wloc         0
Numot        0
Wfgm         0
Wfga         0
Wfgm3        0
Wfga3        0
Wftm         0
Wfta         0
Wor          0
Wdr          0
Wast         0
Wto          0
Wstl         0
Wblk         0
Wpf          0
Lfgm         0
Lfga         0
Lfgm3        0
Lfga3     3739
Lftm      3739
Lfta         0
Lor          0
Ldr       3739
Last         0
Lto          0
Lstl         0
Lblk         0
Lpf          0
dtype: int64

In [ ]:
b[b.Season==2006]

,Season,Daynum,Wteam,Wscore,Lteam,Lscore,Wloc,Numot,Wfgm,Wfga,...,Lfga3,Lftm,Lfta,Lor,Ldr,Last,Lto,Lstl,Lblk,Lpf
13862,2006,8,1165,75,1384,54,N,0,24,54,...,20.0,11.0,17,11,19.0,11,12,5,4,18
13863,2006,8,1393,68,1126,37,H,0,21,44,...,13.0,4.0,9,12,19.0,10,23,13,1,24
13864,2006,9,1107,90,1324,73,N,0,35,62,...,25.0,7.0,12,18,16.0,13,18,11,7,15
13865,2006,9,1126,63,1384,52,N,1,22,59,...,26.0,12.0,19,20,35.0,11,17,3,4,16
13866,2006,9,1196,80,1389,51,H,0,29,54,...,18.0,3.0,8,16,22.0,10,17,4,0,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18614,2006,132,1181,78,1130,76,N,0,25,50,...,11.0,10.0,17,6,28.0,15,14,4,6,22
18615,2006,132,1196,49,1376,47,N,0,20,41,...,27.0,5.0,8,15,17.0,9,10,12,2,9
18616,2006,132,1234,67,1326,60,N,0,26,55,...,28.0,10.0,17,5,23.0,9,8,6,3,17
18617,2006,132,1242,80,1400,68,N,0,27,61,...,21.0,16.0,22,16,24.0,15,16,6,5,22
18618,2006,132,1322,95,1358,87,H,0,32,64,...,25.0,15.0,20,16,19.0,18,14,11,3,21

In [ ]:
pd.set_option("display.max_rows", 50)

In [ ]:
b["Numot"]

0        0
1        0
2        0
3        0
4        0
        ..
76631    0
76632    0
76633    0
76634    0
76635    0
Name: Numot, Length: 76636, dtype: category
Categories (7, int64): [0, 1, 2, 3, 4, 5, 6]

In [ ]:
b["Daynum"]

0         10
1         10
2         11
3         11
4         11
        ...
76631    132
76632    132
76633    132
76634    132
76635    132
Name: Daynum, Length: 76636, dtype: category
Categories (133, int64): [0, 1, 2, 3, ..., 129, 130, 131, 132]

In [ ]:
b["Wloc"] = pd.Categorical(b.Wloc)

In [ ]:
b["Wloc"]

0        N
1        N
2        N
3        N
4        N
        ..
76631    N
76632    N
76633    N
76634    N
76635    N
Name: Wloc, Length: 76636, dtype: category
Categories (3, object): ['A', 'H', 'N']

In [ ]:
len(b)

76636

In [ ]:
b

,Season,Daynum,Wteam,Wscore,Lteam,Lscore,Wloc,Numot,Wfgm,Wfga,...,Lfga3,Lftm,Lfta,Lor,Ldr,Last,Lto,Lstl,Lblk,Lpf
0,2003,10,1104,68,1328,62,N,0,27,58,...,10,16,22,10,22,8,18,9,2,20
1,2003,10,1272,70,1393,63,N,0,26,62,...,24,9,20,20,25,7,12,8,6,16
2,2003,11,1266,73,1437,61,N,0,24,58,...,26,14,23,31,22,9,12,2,5,23
3,2003,11,1296,56,1457,50,N,0,18,38,...,22,8,15,17,20,9,19,4,3,23
4,2003,11,1400,77,1208,71,N,0,30,61,...,16,17,27,21,15,12,10,7,1,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76631,2017,132,1276,71,1458,56,N,0,27,48,...,15,6,8,14,18,10,15,4,3,13
76632,2017,132,1343,71,1463,59,N,0,25,52,...,20,13,19,14,20,12,7,4,5,13
76633,2017,132,1348,70,1433,63,N,0,24,54,...,14,17,22,23,24,8,5,4,1,16
76634,2017,132,1374,71,1153,56,N,0,26,52,...,24,14,18,17,22,7,7,7,1,13
76635,2017,132,1407,59,1402,53,N,0,21,60,...,17,7,8,9,27,10,17,1,7,18

In [ ]:
c = b[['Wteam','Lteam','Wscore','Lscore']]
c

NameError: ignored

In [ ]:
print(c.Lteam.drop_duplicates())

0        1328
1        1393
2        1437
3        1457
4        1208
         ...
50103    1297
55192    1213
55197    1262
55266    1101
56014    1230
Name: Lteam, Length: 355, dtype: int64

In [ ]:
print(c.Wteam)

0        1104
1        1272
2        1266
3        1296
4        1400
         ...
76631    1276
76632    1343
76633    1348
76634    1374
76635    1407
Name: Wteam, Length: 76636, dtype: int64

Limpieza de datos - Arreglos de datos faltantes

In [ ]:
k = b.isna().sum()

In [ ]:
k[k!=0]

Series([], dtype: int64)

In [ ]:
b["Lfga3"].fillna(b["Lfga3"].mean(), inplace=True)

In [ ]:
b["Lftm"].fillna(b["Lftm"].mean(), inplace=True)

In [ ]:
b["Ldr"].fillna(b["Ldr"].mean(), inplace=True)